# cp .env.example .env — Erklärungen in moddex-workspace/web/README.md

APP_PORT=4999

NEXTAUTH_URL=http://localhost:4999
AUTH_TRUST_HOST=true
AUTH_SECRET=

AUTH_TWITCH_ID=
AUTH_TWITCH_SECRET=

STRIPE_SECRET_KEY=
STRIPE_DONATION_PRICE=
NEXT_PUBLIC_PUBLISHABLE_SECRET_KEY=

IMAGE=ghcr.io/moddextv/moddex-web
IMAGE_TAG=latest

MODDEX_API_URL=https://api.moddex.tv

INTERNAL_API_TOKEN=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=