:root {
  --white: #fff;
  --black: #000;

  --color-background: rgb(17, 17, 17);
  --color-background-light: rgb(35, 35, 35);

  --color-font: rgb(230, 230, 230);
  --color-font-medium: rgb(120, 120, 120);
  --color-font-dark: rgb(60, 60, 60);

  --color-success-light: #6dec8c;
  --color-success: #28a745;
  --color-success-dark: #186429;

  --color-error-light: #e47575;
  --color-error: #ef3e3e;
  --color-error-dark: #a70e0e;

  --color-twitch: rgb(113, 74, 184);
  --color-discord: rgb(114, 137, 218);

  --animation-duration: .2s;
  --backdrop: blur(4px) brightness(50%);
  --radius: 5px;

  --space-xxs: .4rem;
  --space-xs: .8rem;
  --space-s: 1.6rem;
  --space-m: 2.4rem;
  --space-l: 3.2rem;
  --space-xl: 4.8rem;
  --space-xxl: 6rem;
}

@min-tablet-quer: ~'screen and (min-width: 1020px)';
@min-tablet-hoch: ~'screen and (min-width: 720px)';
@min-mobile-large: ~'screen and (min-width: 600px)';
@min-mobile-small: ~'screen and (min-width: 480px)';