header {
  background-color: var(--color-background-light);

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 175px;
    }

    .navigation {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      display: flex;
      align-items: flex-start;
      flex-grow: 1;
      padding: 1rem 3rem 2rem;
      transition: var(--animation-duration) ease-in-out;
      pointer-events: none;
      opacity: 0;
      z-index: 2;

      &.open {
        opacity: 1;
        top: 100%;
        pointer-events: all;
        backdrop-filter: var(--backdrop);
        -webkit-backdrop-filter: var(--backdrop);
        isolation: isolate;

        @media @min-tablet-hoch {
          z-index: unset;
        }
      }

      nav {
        flex: 1;

        ul {
          display: flex;
          flex-direction: column;
          list-style: none;
          margin-left: 0;
          text-align: right;

          li {
            margin-bottom: var(--space-s);

            a {
              font-family: "Retroica", "Trebuchet MS", Helvetica, sans-serif;
              font-size: 2.1rem;
              color: var(--color-font-medium);
              border-bottom: 2px solid transparent;
              transition-duration: var(--animation-duration);

              &:hover {
                border-color: var(--color-font-medium);
              }
            }

            &.active a {
              color: var(--color-font);
            }
          }
        }
      }

      @media @min-tablet-hoch {
        position: initial;
        align-items: center;
        flex-grow: 0;
        padding: 0;
        background-color: unset;
        opacity: 1;
        transition: none;
        z-index: 1;
        pointer-events: all;

        nav {
          ul {
            flex-direction: row;

            li {
              margin: 0 0 0 var(--space-s);

              a {
                color: var(--color-font-medium);
              }
            }
          }
        }
      }
    }

    .menu-toggle {
      display: flex;
      flex-direction: column;
      width: 70px;
      font-size: 3rem;
      cursor: pointer;
      transition: var(--animation-duration);
      transform: scale(.5);
      transform-origin: right;

      span {
        background: var(--color-font);
        border-radius: 10px;
        height: 7px;
        margin: 7px 0;
        transition: var(--animation-duration) cubic-bezier(0.68, -0.6, 0.32, 1.6);

        &:nth-of-type(1) {
          width: 50%;
        }

        &:nth-of-type(2) {
          width: 100%;
        }

        &:nth-of-type(3) {
          width: 75%;
        }
      }

      input[type="checkbox"] {
        display: none;
      }

      input[type="checkbox"]:checked ~ span:nth-of-type(1) {
        transform-origin: bottom;
        transform: rotatez(45deg) translate(8px, 0px)
      }

      input[type="checkbox"]:checked ~ span:nth-of-type(2) {
        transform-origin: top;
        transform: rotatez(-45deg)
      }

      input[type="checkbox"]:checked ~ span:nth-of-type(3) {
        transform-origin: bottom;
        width: 50%;
        transform: translate(30px, -11px) rotatez(45deg);
      }

      &:hover span {
        background-color: var(--white);
      }

      @media @min-tablet-hoch {
        display: none;
      }
    }
  }
}