.tooltip {
  position: fixed;
  padding: var(--space-xxs) var(--space-xs);
  background: var(--color-font-dark);
  border-radius: var(--radius);
  z-index: 1000;

  &::after {
    content: '';
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-font-dark) transparent transparent transparent;
  }

  &.top::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  &.right::after {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--color-font-dark);
  }

  &.bottom::after {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-color: transparent transparent var(--color-font-dark) transparent;
  }

  &.left::after {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent var(--color-font-dark) transparent transparent;
  }
}