.user-grid {
  .profile {
    max-width: 55rem;
    margin: 0 auto 4.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media @min-tablet-hoch {
      flex-direction: row;
    }

    .avatar {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      margin-top: var(--space-xs);

      @media @min-tablet-hoch {
        flex-direction: column;
      }

      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }

      .copy {
        cursor: pointer;
      }
    }
    
    .details {
      flex: 1;
      margin-top: var(--space-xs);

      @media @min-tablet-hoch {
        margin-top: 0;
        max-width: ~"calc(100% - 100px)";
      }

      .display-name {
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
          margin-left: var(--space-xs);
        }
      }

      h3 {
        font-size: 1.8rem;
      }

      h3, .bio {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .created {
        margin-top: var(--space-xs);
      }

      .badges {
        margin-top: var(--space-xs);

        img {
          width: 32px;
          height: 32px;
        }
      }

      .bio {
        margin-top: var(--space-s);
      }
    }
  }

  .list-section {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 3.2rem;
    margin-top: 3.2rem;

    @media @min-tablet-quer {
      grid-template-columns: ~"repeat(2, calc(50% - 1.6rem))";
    }

    > div {
      padding: var(--space-s) var(--space-xs) var(--space-s) var(--space-s);
      border: 1px solid var(--color-font-dark);
      border-radius: ~"calc(var(--radius) * 2)";

      h2 {
        text-align: center;
        text-transform: uppercase;
      }

      hr {
        width: 50%;
        margin: var(--space-xs) auto;
        border-color: var(--color-font-medium);
      }

      .summary {
        text-align: center;
      }

      .list {
        @media @min-tablet-hoch {
          max-height: 100rem;
          overflow-y: auto;
        }

        .channel {
          display: flex;
          margin: var(--space-s) 0;
          padding: 0 var(--space-s) 0 var(--space-xs);
          align-items: center;

          .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: var(--space-s);
          }

          .details {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 1;
            overflow: hidden;

            .user {
              flex: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              hyphens: none;

              h4 {
                position: relative;
                display: flex;
                justify-content: space-between;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                hyphens: none;

                a {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  hyphens: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

.add-section {
  margin: var(--space-m) 0;
  font-size: 2.1rem;
}