main .swagger-ui {
  --_color: #D4D4D8;
  --_background: #18181B;

  color: var(--_color);
}
main .swagger-ui .scheme-container {
  background: var(--_background);
  box-shadow: none;
  padding: 0;
  margin: 20px 0;
}
main .swagger-ui svg {
  fill: var(--_color) !important;
}
main .swagger-ui .info {
  margin: 0;
}
main .swagger-ui .opblock-tag,
main .swagger-ui .wrapper {
  padding-left: 0;
  padding-right: 0;
}
.swagger-ui .model .property.primitive,
.swagger-ui .model .renderedMarkdown {
  position: relative;
  left: 26px;
}
main input {
  color: var(--_background)!important;
}
main .swagger-ui .info .title,
main .swagger-ui .info p,
main .swagger-ui .opblock-tag,
main .swagger-ui .opblock-tag small,
main .swagger-ui .opblock .opblock-summary-path,
main .swagger-ui .opblock-description-wrapper p,
main .swagger-ui table thead tr th,
main .swagger-ui .parameter__name,
main .swagger-ui .parameter__type,
main .swagger-ui .response-col_status,
main .swagger-ui .response-col_description,
main .swagger-ui .tab li,
main .swagger-ui .responses-inner h4,
main .swagger-ui .responses-inner h5,

main .swagger-ui section.models h4,
main .swagger-ui .model,
main .swagger-ui .model-title {
  color: var(--_color);
}

main .swagger-ui .model-toggle::after {
  height: 22px;
  width: 22px;
  background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill=%22white%22%20width%3D%2224%22%20height%3D%2224%22%3E%3Cpath%20d%3D%22M10%206%208.59%207.41%2013.17%2012l-4.58%204.59L10%2018l6-6z%22%2F%3E%3C%2Fsvg%3E');
}